.Pagination {
    display: flex;
    justify-content: flex-end;
    padding: 22px 21px 229px;
}

.Pagination-wrapper button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.Pagination-wrapper button.active, .Pagination-wrapper button.active:hover{
    background-color: #0087E9;
    color: white;
}


.Pagination-wrapper {
    display: flex;
}

.Pagination-wrapper button:hover {
    cursor: grab;
    background-color: #E1E1E1;
}

.Pagination-divider {
    height: 20px;
    width: 20px;
}

.Pagination-divider:hover {
    height: 20px;
    width: 20px;
    cursor: default
}